<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

html {
    background-color: #C0C5C1;
}

h1 {
  text-align: center;
  font-family: Trebuchet MS;
  padding-top: 30px;
  color: #290025;
}

ul {
  text-align: center;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
}

li {
  float: left;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 20px 30px 30px 100px;
  text-decoration: none;
  margin-left: 200px;
}

header {
  padding-top: 5px;
  background-color:  #C0C5C1;
  font-size: 30px;
  font-family: monospace;
}

nav {
  background-color:  #C0C5C1;
  display: inline-flex;

}

main {
  padding-top: 30px;
}

footer {
  text-align: center;
  padding-top: 100px;
}

.container {
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
}

.icon{
  float: right;
  padding-left: 100px;
}

.col2 {
  float: right;
  padding-left: 105px;
}

.col {
  float: right;
}

.form {


  float: left;
  margin-left: 30px;
}

.map {
  float: left;
  margin-left: 20px;
}
